.row
  .container-fluid
    = form_for(@host, html:{class: 'form-horizontal'}) do |f|
      - if @host.errors.any?
        #error_explanation
          %h2
            = pluralize(@host.errors.count, "error")
            prohibited this host from being saved:
          %ul
            - @host.errors.full_messages.each do |message|
              %li= message
      .form-group.col-lg-12
        = f.label :region_id
        = f.collection_select :region_id, Region.all, :id, :name, { include_blank: true }, { class: 'form-control input-lg', placeholder: "Select a region" }
      .form-group.col-lg-12
        = f.label :name
        = f.text_field :name, class: 'form-control input-sm'
      .form-group.col-lg-12
        = f.label :ip_address
        = f.text_field :ip_address, class: 'form-control input-sm'
      .form-group.col-lg-12
        = f.label :port
        = f.number_field :port, class: 'form-control input-sm'
      .actions
        = f.submit
