.row
  .container-fluid
    %h4.pull-left
      %i.glyphicon{class:"glyphicon-#{@host.monitor? ? 'eye-open' : 'cloud'}"}
      = @host.name
      %br
      %span.small
        Region:
        = @host.region.name
      %br
      - unless @host.monitor?
        %span.small
          Monitor: 
          - if @host.monitor.nil?
            Not monitored
          - else
            = link_to @host.monitor.name, host_path(@host.monitor)
    .pull-right
      - if current_user.admin?
        = link_to 'Edit', rails_admin.edit_path(model_name: 'host', id: @host.id), class: 'btn btn-primary btn-sm'
        = link_to 'Destroy', @host, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
%hr/
.row
  .container-fluid
    = render 'terminal'
    /= render 'usage'
    /= render 'containers'

%script
  Page.data.host = {
  id: #{@host.id},
  is_monitor: #{@host.is_monitor},
  name: "#{@host.name}"
  };
