<p id="notice"><%= notice %></p>

<div class="row">
  <div class="container-fluid">
    <h4 class="pull-left">
      <%= @host.name %> <br>
      <span class="small"><%= @host.docker_url %></span>
    </h4>
    <div class="pull-right">
      <%= link_to 'Edit', edit_host_path(@host), class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">Host Information</div>
      <div class="panel-body">
        <pre><%= @host.info %></pre>
      </div>
    </div>
  </div>
</div>
