<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @host.ip_address %>
</p>

<p>
  <strong>Port:</strong>
  <%= @host.port %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
