<% @regions.each do |region| %>
  <% if region.hosts.any? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="glyphicon glyphicon-globe"/></i>
          <%= region.name %>
        </h3>
      </div>
      <div class="panel-body">
        <% if region.healthy? %>
          All <%= region.name %> hosts are operational!
        <% else %>
          <%= region.unhealthy_hosts.count %> hosts are currently experiencing issues
        <% end %>
      </div>
      <ul class="list-group">
        <% region.hosts.each do |host| %>
        <li class="list-group-item"><i class="glyphicon glyphicon-cloud"/></i>&nbsp;<%= host.name %> is <%= host.healthy ? "healthy" : "unhealthy" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
