<div class="bg-info">
  Once the instance is created and started we will show you the exposed ports
</div><br/>
<div class="row">
  <div class="container-fluid">
    <%= form_for @container, html: {class: 'form-horizontal'} do |f| %>
      <% if @container.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@container.errors.count, "error") %> prohibited this container from being saved:</h2>
          <ul>
            <% @container.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group col-lg-12">
        <%= f.label :region_id %>
        <%= f.collection_select :region_id, Region.all_available, :id, :name, {}, { class: 'form-control input-lg' } %>
      </div>
      <div class="form-group col-lg-12">
        <%= f.label :image_id %>
        <%= f.collection_select :image_id, Image.all, :id, :name, {}, { class: 'form-control input-lg' } %>
      </div>
      <div class="form-group col-lg-12">
        <%= f.label :name %>
        <%= f.text_field :name , class: 'form-control input-lg' %>
      </div>
      <div class="form-group col-lg-12">
        <%= f.submit 'Create Container', class: 'btn btn-success pull-right' %>
      </div>
    <% end %>
  </div>
</div>
