.bg-info
  Once the instance is created and started we will show you the exposed ports
%br/
.row
  .container-fluid
    = form_for @container, html: {class: 'form-horizontal'} do |f|
      - if @container.errors.any?
        #error_explanation
          %h2
            = pluralize(@container.errors.count, "error")
            prohibited this container from being saved:
          %ul
            - @container.errors.full_messages.each do |message|
              %li= message
      .form-group.col-lg-12
        = f.label :name
        = f.text_field :name, class: 'form-control input-lg'
      .form-group.col-lg-12
        = f.label :region_id
        = f.collection_select :region_id, @regions, :id, :name, { include_blank: true }, { class: 'form-control input-lg', placeholder: "Select a region" }
      .form-group.col-lg-12
        = f.label :image_id
        = f.collection_select :image_id, @images, :id, :name, { include_blank: true }, { class: 'form-control input-lg', placeholder: "Select an image" }
      #env_settings.form-group.col-lg-12
        - unless @container.env_settings.blank?
          - @container.env_settings.each do |key, value|
            .form-group.col-lg-12
              = label_tag key
              = text_field_tag "container[env_settings][#{key}]", value
      .form-group.col-lg-12
        = f.submit 'Create Container', class: 'btn btn-success pull-right'
- @images.each do |image|
  .image_env_form.hidden{"data-image-id" => image.id}
    - image.env_defaults.each do |key, value|
      .form-group.col-lg-12
        = label_tag key
        = text_field_tag "container[env_settings][#{key}]", value
