<div class="row">
  <div class="container-fluid">
    <%= link_to 'New Container', new_container_path, class: 'pull-right btn btn-primary btn-sm' %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="container-fluid">
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Status</th>
          <th>Instance Id</th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody>
        <% @containers.each do |container| %>
          <tr><td><%= link_to container.name, container %></td>
            <td><%= container.image.name %></td>
            <td><%= container.status %></td>
            <td><%= container.instance_id %></td>
            <td><%= link_to 'Edit', edit_container_path(container) %></td>
            <td><%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
