<div class="row">
  <div class="container-fluid">
    <h4 class="pull-left">
      My Containers
      </h4><div class="pull-right">
      <%= link_to 'New Container', new_container_path, class: 'pull-right btn btn-primary btn-sm' %>
  </div></div>
</div>
<hr/>
<div class="row">
  <div class="container-fluid">
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Host</th>
          <th>Region</th>
          <th>IP Address</th>
          <th>Ports</th>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @containers.each do |container| %>
          <tr>
            <td><i class="glyphicon glyphicon-hdd"/></i>&nbsp;<%= link_to container.name, container %></td>
            <td><%= container.image.name %></td>
            <td><%= container.host.name %></td>
            <td><%= container.region.name %></td>
            <td><%= container.host.ip_address %></td>
            <td><%= simplify_container_port_bindings container.port_bindings %></td>
            <td><%= container.status %></td>
            <td><%= link_to 'Edit', edit_container_path(container) %></td>
            <td><%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
