.row
  .container-fluid
    %h4.pull-left
      = @container.name
      %p.small= @container.status
    .pull-right
      = link_to 'Edit', edit_container_path(@container), class: 'btn btn-primary btn-sm'
      - if @container.status != 'started'
        = link_to 'Start', start_container_path(@container), class: 'btn btn-success btn-sm'
      - if @container.status == 'started'
        = link_to 'Stop', stop_container_path(@container), class: 'btn btn-danger btn-sm'
        = link_to 'Restart', restart_container_path(@container), class: 'btn btn-warning btn-sm'
          
%hr/
.row
  .container-fluid
    .panel.panel-default
      .panel-heading Port Mapping Information
      - if @container.status == 'started'
        %table.table.table-striped.tabled-condensed
          %thead
            %tr
              %th Internal Port
              %th
              %th External Port
              %th Possible HTTP URL
              %th Possible HTTPS URL
          %tbody
            - JSON.parse(@container.port_bindings).each do |cport, binding|
              - host_port = extract_host_port(binding)
              - next unless host_port
              - site = "#{@container.host.ip_address}:#{host_port}"
              %tr
                %td= cport
                %td &nbsp;=>&nbsp;
                %td= host_port
                - ["http", "https"].map {|prot| "#{prot}://#{site}"}.each do |possible_link|
                  %td= link_to possible_link, possible_link
  .container-fluid
    .panel.panel-default
      .panel-heading Performance
      .panel-body
        %pre= @container.top
    .panel.panel-default
      .panel-heading Container Information
      .panel-body
        %pre= @container.info
