.row
  .container-fluid
    %h4.pull-left
      = @container.name
      %p.small= @container.status
    .pull-right
      = link_to 'Edit', edit_container_path(@container), class: 'btn btn-primary btn-sm'
      - if @container.status != 'started' && @container.status != 'pending'
        = link_to 'Start', start_container_path(@container), class: 'btn btn-success btn-sm'
      - if @container.status == 'started'
        = link_to 'Restart', restart_container_path(@container), class: 'btn btn-success btn-sm'
        = link_to 'Stop', stop_container_path(@container), class: 'btn btn-warning btn-sm'
      - if @container.status != 'pending'
        = link_to 'Destroy', @container, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
          
%hr/
.row
  .container-fluid
    = render 'shared/terminal'
    = render 'port_mappings' if @container.status == 'started'

%script
  Page.data.container = {
  id: #{@container.id}
  };
