<p id="notice"><%= notice %></p>
<div class="row">
  <div class="container-fluid">
    <h4 class="pull-left"><%= @container.name %></h4>
    <div class='pull-right'>
      <%= link_to 'Edit', edit_container_path(@container), class: 'btn btn-primary btn-sm' %>
      <% if @container.status != 'started' %>
        <%= link_to 'Start', start_container_path(@container), class: 'btn btn-success btn-sm' %>
      <% end %>
      <% if @container.status == 'started' %>
        <%= link_to 'Stop', stop_container_path(@container), class: 'btn btn-danger btn-sm' %>
        <%= link_to 'Restart', restart_container_path(@container), class: 'btn btn-primary btn-sm' %>
      <% end %>

    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">Performance</div>
      <div class="panel-body">
        <pre><%= @container.top %></pre>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Container Information</div>
      <div class="panel-body">
        <pre><%= @container.info %></pre>
      </div>
    </div>
  </div>
</div>
