<div class="row">
  <div class="container-fluid">
    <h4 class="pull-left">Regions</h4>
    <div class="pull-right">
      <%= link_to 'New Region', new_region_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div><hr/>
<div class="row">
  <div class="container-fluid">
    <table class="table table-bordered table-striped tabled-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Healthy Hosts</th>
          <th>Unhealthy Hosts</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @regions.each do |region| %>
          <tr>
            <td><i class="glyphicon glyphicon-globe"/></i>&nbsp;<%= link_to region.name, region %></td>
            <td><%= region.healthy_hosts.count %></td>
            <td><%= region.unhealthy_hosts.count %></td>
            <td><%= link_to 'Edit', edit_region_path(region) %></td>
            <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div></div>
