.row
  .container-fluid
    %h4.pull-left Regions
%hr/
.row
  .container-fluid
    - if @regions.empty?
      = link_to "Create a host", new_host_path, class: 'btn btn-primary'
    - else
      %table.table.table-bordered.table-striped.tabled-condensed
        %thead
          %tr
            %th Name
            %th Healthy Hosts
            %th Unhealthy Hosts
            %th{:colspan => "2"}
        %tbody
          - @regions.each do |region|
            %tr
              %td
                %i.glyphicon.glyphicon-globe>
                \&nbsp;#{region.name}
              %td= region.healthy_hosts.count
              %td= region.unhealthy_hosts.count
              %td= link_to 'Edit', edit_region_path(region)
              %td= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' }
