<div class="row">
  <div class="container-fluid">
    <h4 class="pull-left">Images</h4>
    <div class="pull-right">
      <%= link_to 'New Image', new_image_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div><hr/>
<div class="row">
  <div class="container-fluid">
    <table class="table table-bordered table-striped tabled-condensed">

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Port Bindings</th>
      <th>Docker index</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><i class="glyphicon glyphicon-th"/></i>&nbsp;<%= link_to image.name, image %></td>
        <td><%= image.description %></td>
        <td><%= simplify_port_bindings image.port_bindings %></td>
        <td><%= image.docker_index %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
